
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
    
}
<div class="card-header text-md-center">
    <h4>Tabela de Endereços</h4>
</div>
<table class="table" id="table-endereco">
    <thead>
        <tr>
            <th>Código</th>
            <th>Cep</th>
            <th>Logradouro</th>
            <th>Número</th>
        </tr>
    </thead>
    <tbody></tbody>
    </table>
