
@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Cadastro</h2>

<form action="" method="post">
    <div class="form-group">
        <label for="cadastro-estado-campo-nome">
            nome
        </label>
        <input type="text" id="cadastro-estado-campo-nome" class="form-control" name="estado.Nome" />

    </div>

    <div>
        <button type="submit" class="btn btn-sucess float-right">
            <i class="fa fa-save">Cadastrar </i> 
        </button>
    </div>
</form>