
@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Editar</h2>

<form action="" method="post">
    <input type="hidden" name="estado.Id"id="editar-estado-campo-id" />
    <div class="form-group">
        <label for="cadastro-estado-campo-nome">
            Nome
        </label>
        <input type="text" id="editar-campo-estado-campo-nome" class="form-control" name="estado.Nome" />

    </div>

    <div>
        <button type="submit" class="btn btn-sucess float-left right ">
            <i class="fa fa-save">Cadastrar </i>
        </button>
    </div>
</form>
