
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}


<button type="button" class="btn btn-primary waves-effect" id="botao-modal-cadastrar-estado">Cadastrar</button>


<div class="card">
    <div class="card-header">
        <h3>Tabela de Estados</h3>
        <div class="card-header-right">    <ul class="list-unstyled card-option">        <li><i class="icofont icofont-simple-left "></i></li>        <li><i class="icofont icofont-maximize full-card"></i></li>        <li><i class="icofont icofont-minus minimize-card"></i></li>        <li><i class="icofont icofont-refresh reload-card"></i></li></ul></div>
    </div>
    <div class="card-block">
        <div class="table-responsive">
            <table class="table table-de" id="table-estados">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Estado</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th>Código</th>
                        <th>Estado</th>
                        <th>Ação</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Estado/ModalCadastro.cshtml")
@Html.Partial("~/Views/Estado/ModalEditar.cshtml")

@section script{
    <script src="~/Scripts/Estado/estado-index.js"></script>
}