
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}


<div class="page-header card horizontal-layout-icon">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="icofont icofont-university"></i>
                <div class="d-inline">
                    <h4>Tabela de Estados</h4>
                    <span>Tela de gerenciamento de Estados</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <button type="button" class="btn btn-grd-primary" id="botao-modal-cadastrar-estado">
                    <i class="icofont icofont-plus"></i>
                    Cadastrar
                </button>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-block">
        <div class="table-responsive">
            <table class="table table-striped table-bordered nowrap dataTable" id="table-estados">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Estado</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th>Código</th>
                        <th>Estado</th>
                        <th>Ação</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Estado/ModalCadastro.cshtml")
@Html.Partial("~/Views/Estado/ModalEditar.cshtml")

@section script{
    <script src="~/Scripts/Estado/estado-index.js"></script>
}