
@{
    Layout = null;
}

<div class="modal fade" id="estado-modal-cadastro" tabindex="-1" role="dialog" style="z-index: 1050; display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cadastrar  Estado</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body" >
                <form id="formulario-estado" method="post" action="/">
                    <div class="form-group">
                        <label for="cadastro-estado-campo-nome">Estado <span class="text-danger font-weight-bold">*</span></label>
                        <input type="text" id="campo-cadastro-estado-nome" class="form-control" name="estado-Nome" />
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect " data-dismiss="modal" id="botao-fechar-modal-cadastro-estado">Fechar</button>
                <button type="button" class="btn btn-primary waves-effect waves-light " id="botao-salvar-modal-cadastrar-estado">Cadastrar</button>
            </div>
        </div>
    </div>
</div>