
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}



<button type="button" class="btn btn-primary waves-effect" id="cadastro-pacote-user">Cadastrar</button>


@Html.Partial("~/Views/CriarPacote/ModalCadastro.cshtml")

@section script{
    <script src="~/Scripts/CriarPacote/criar-pacote-user.js" ></script>   
    <script src="~/Scripts/PopularSelects/CriarPacoteUser/popular-selects-guia-ponto-turistico.js"></script>
}