
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}



<button type="button" class="btn btn-primary waves-effect" id="cadastro-pacote-user">@Principal.Resources.Resource.Cadastrar</button>

<a href="#" id="botao-de-teste-card">@Principal.Resources.Resource.Teste</a>

<div id="principal-criar-pacote" class="row users-card">

</div>


@Html.Partial("~/Views/CriarPacote/ModalCadastro.cshtml")

@section script{
    <script type="text/javascript">
        loadStrings('CriarPacote');
    </script>
    <script src="~/Scripts/CriarPacote/criar-pacote-user.js"></script>
    <script src="~/Scripts/PopularSelects/CriarPacoteUser/popular-selects-guia-ponto-turistico.js"></script>
}