@{
    ViewBag.Title = "Cadastrar";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Cadastrar Cidades</h2>

<form action="/Cidade/Store" method="post">
    <div class="form-group">
        <label class="col-md-2">Estado: </label>
        <div class="col-md-6">
            <select class="form-control form-control-default" name="cidade.IdEstado" id="select-cadastro-cidade-estado" value="@ViewBag.Cidade.IdEstado"></select>
        </div>
    </div>
    <div class="form-group">
        <label for="cadastro-cidade-campo-nome">
            Nome
        </label>
        <input type="text" id="cadastro-cidade-campo-nome" class="form-control" value="@ViewBag.Cidade.Nome" name="cidade.Nome">
    </div>
    <div>
        <button type="submit" class="btn btn-success float-right">
            <i class="fa fa-save"></i> Cadastrar
        </button>
    </div>
</form>

@section script{
    <script scr="~/Scripts/select2-cadastro-cidade.js"></script>
}


