
@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Editar Cidades</h2>

<form action="/Cidade/Update" method="post">
    <input type="hidden" name="cidade.Id" value="@ViewBag.Cidade.Id" id="editar-cidade-campo-id" />

    <div class="form-group">
        <label for="editar-cidade-campo-nome">
            Nome
        </label>
        <input type="text" id="editar-cidade-campo-nome" class="form-control" value="@ViewBag.Cidade.Nome" name="cidade.Nome">
    </div>
    <div>
        <button type="submit" class="btn btn-success float-right">
            <i class="fa fa-save">Cadastrar</i> 
        </button>
    </div>
</form>
