
@{
    Layout = null;
}

<div class="modal fade" id="cidade-modal-cadastro" tabindex="-1" role="dialog" style="z-index: 1050; display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cadastro Cidade</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="modal-body">

                <form id="form-modal-cadastro-cidade" method="post">
                    <div class="form-row">
                        <div class="col-md-6 form-group">
                            <label>Estado <span class="text-danger font-weight-bold">*</span></label>
                            <select class="form-control form-control-default" name="cidade.IdEstado" id="select-modal-cadastro-cidade" required></select>
                        </div>

                        <div class="col-md-6">
                            <label for="cadastro-cidade-campo-nome">Cidade <span class="text-danger font-weight-bold">*</span></label>
                            <input type="text" id="campo-cadastro-cidade-nome" class="form-control" name="cidade.Nome" required>
                        </div>
                    </div>
                </form>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect " data-dismiss="modal" id="botao-fechar-modal-cadastro-cidade">Fechar</button>
                <button type="button" class="btn btn-primary waves-effect waves-light " id="botao-salvar-modal-cadastrar-cidade">Cadastrar</button>
            </div>
        </div>
    </div>
</div>
