
@{
    Layout = null;
}

<div id="modal-criar-conta" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="login-card card-block login-card-modal">
            <form class="md-float-material">
                <div class="auth-box">
                    <div class="row m-b-20">
                        <div class="col-md-12">
                            <h3 class="text-center txt-primary">Cadastre-se. É rápido e fácil</h3>
                        </div>
                    </div>
                    <hr />
                    <div class="input-group">
                        <input type="text" class="form-control" id="cadastro-email" placeholder="Seu endereço de e-mail">
                        <span class="md-line"></span>
                    </div>
                    <div class="input-group">
                        <input type="password" class="form-control" id="cadastro-senha" placeholder="Escolha uma senha">
                        <span class="md-line"></span>
                    </div>
                    <div class="input-group">
                        <input type="password" class="form-control" id="cadastro-confirmar-senha" placeholder="Confirme sua senha">
                        <span class="md-line"></span>
                    </div>
                    <div class="row m-t-15">
                        <div class="col-md-12">
                            <button type="button" id="cadastrar-agora" class="btn btn-primary btn-md btn-block waves-effect text-center">Cadastrar agora</button>
                        </div>
                    </div>
                    <hr />
                    <div class="row">
                        <div class="col-md-10">
                            <p class="text-inverse text-left m-b-0">Obrigado e aproveite nosso site.</p>
                            <p class="text-inverse text-left"><b>Sua equipe de autenticação</b></p>
                        </div>
                        <div class="col-md-2">
                            <img src="~/Content/imagens/LogoLuvTour42x45.png" alt="small-logo.png">
                        </div>
                    </div>
                </div>
            </form>
            <!-- end of form -->
        </div>
    </div>
</div>