@{
    ViewBag.Title = "Cadastrar";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Cadastrar</h2>

<form action="/Continente/Store" method="post">
    <div class="form-group">
        <label for="cadastro-continente-campo-nome">
            Nome
        </label>
        <input type="text" id="cadastro-continente-campo-nome" class="form-control" value="@ViewBag.Continente.Nome" name="continente.Nome"/>
    </div>

    <div>
        <button type="submit" class="btn btn-success float-right">
        <i class="fa fa-save">Cadastrar</i> 
        </button>
    </div>
</form>
