
@{
    ViewBag.Title = "Table";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Table</h2>

<table class="table" id="table-continente">
    <thead>
        <tr>
            <th>Código</th>
            <th>Nome</th>
        </tr>
    </thead>
    <tbody></tbody>
    <tfoot>
        <tr>
            <th>Código</th>
            <th>Nome</th>
        </tr>
    </tfoot>
</table>