
@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Cadastro</h2>
<form>
    <div>
        <label for="campo-nome"></label>
        <input type="text" />
    </div>
</form>

