
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}



<div class="card">
    <div class="card-header">
        <h5>Tabela Pacotes</h5>
        <div class="card-header-right">    <ul class="list-unstyled card-option">        <li><i class="icofont icofont-simple-left "></i></li>        <li><i class="icofont icofont-maximize full-card"></i></li>        <li><i class="icofont icofont-minus minimize-card"></i></li>        <li><i class="icofont icofont-refresh reload-card"></i></li></ul></div>
    </div>
    <div class="card-block">
        <div class="table-responsive">
            <table class="table table-de"  id="pacote-tabela">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Nome</th>
                        <th>Valor</th>
                        <th>Desconto</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                    <th>Código</th>
                    <th>Nome</th>
                    <th>Valor</th>                     
                    <th>Desconto</th>                    
                    <th>Ação</th>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

@section script{
    <script src="~/Scripts/Pacote/pacote-tabela.js"></script>
}
