@{
    Layout = null;
}

<div class="modal fade" id="guia-modal-cadastro" tabindex="-1" role="dialog" style="z-index: 1050; display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cadastrar Guia</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            
            <div class="modal-body">

                <form id="form-modal-cadastro-guia" method="post">
                    <div class="row">
                        <h5>Dados Pessoais</h5><br /> <br />
                    </div>

                    <div class="row">

                        <div class="form-group col-md-6">
                            <label for="campo-cadastro-guia-nome">Nome  <span class="text-danger font-weight-bold">*</span></label>
                            <input name="guia.Nome" type="text" id="campo-cadastro-guia-nome" class="form-control" />
                        </div>

                        <div class="form-group col-md-6">
                            <label for="campo-cadastro-guia-sobrenome">Sobrenome <span class="text-danger font-weight-bold">*</span></label>
                            <input name="guia.Sobrenome" type="text" id="campo-cadastro-guia-sobrenome" class="form-control" />
                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group col-sm-4">
                            <label for="campo-cadastro-guia-rg">RG</label>
                            <input name="guia.Rg" type="text" id="campo-cadastro-guia-rg" class="form-control" />
                        </div>

                        <div class="form-group col-sm-4">
                            <label for="campo-cadastro-guia-cpf">CPF <span class="text-danger font-weight-bold">*</span></label>
                            <input name="guia.Cpf" type="text" id="campo-cadastro-guia-cpf" class="form-control" />
                        </div>

                        <div class="form-group col-md-4">
                            <label for="campo-cadastro-guia-data-nascimento">Data de Nascimento  <span class="text-danger font-weight-bold">*</span></label>
                            <input name="guia.DataNascimento" type="date" id="campo-cadastro-guia-data-nascimento" class="form-control"  />
                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group col-md-4">
                            <label for="campo-cadastro-guia-sexo">Sexo  <span class="text-danger font-weight-bold">*</span></label>
                            <div>
                                <input type="radio" id="radio-sexo-masculino" name="sexo" class="ml-md-1" />
                                <label for="radio-sexo-masculino">Masculino</label>
                                <input type="radio" id="radio-sexo-feminino" name="sexo" class="ml-md-5" />
                                <label for="radio-sexo-feminino">Feminino</label>
                            </div>
                        </div>

                        <div class="form-group col-md-4">
                            <label for="campo-cadastro-guia-numero-carteira-trabalho">Número Carteira de Trabalho  <span class="text-danger font-weight-bold">*</span></label>
                            <input name="guia.CarteiraTrabalho" type="text" id="campo-cadastro-guia-numero-carteira-trabalho"
                                   class="form-control" />
                        </div>

                        <div class="form-group col-md-4">
                            <label for="campo-cadastro-guia-salario">Salário  <span class="text-danger font-weight-bold">*</span></label>
                            <input name="guia.Salario" type="text" id="campo-cadastro-guia-salario" class="form-control" />
                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group col-md-4">
                            <label for="campo-cadastro-guia-categoria-habilitacao">Categoria da Habilitação  <span class="text-danger font-weight-bold">*</span></label>
                            <select id="campo-cadastro-guia-categoria-habilitacao" name="guia.CategoriaHabilitacao" class="select2-selection select2-selection--multiple" role="combobox" aria-haspopup="true" aria-expanded="false" required="required" tabindex="-1">
                                <option value="A">A</option>
                                <option value="B">B</option>
                                <option value="C">C</option>
                                <option value="D">D</option>
                                <option value="E">E</option>
                                <option value="AB">AB</option>
                                <option value="AC">AC</option>
                                <option value="AE">AE</option>
                                <option value="AD">AD</option>
                                <option value="BC">BC</option>
                                <option value="BE">BE</option>
                                <option value="BD">BD</option>
                                <option value="DC">DC</option>
                                <option value="DE">DE</option>
                                <option value="ABC">ABC</option>
                                <option value="ABCD">ABCD</option>
                                <option value="ABCDE">ABCDE</option>
                            </select>
                        </div>



                        <div class="form-group col-sm-4">
                            <label for="campo-cadastro-guia-rank">Rank</label>
                            <select name="guia.Rank" type="text" id="campo-cadastro-guia-rank" class="form-control">
                                <option value="0">0</option>
                                <option value="1">1</option>
                                <option value="2">2</option>
                                <option value="3">3</option>
                                <option value="4">4</option>
                                <option value="5">5</option>
                            </select>
                        </div>

                    </div>

                    <div class="row">
                        <h5>Endereço</h5> <br /><br />
                    </div>

                    <div class="row">

                        <div class="form-group col-md-6">

                            <label for="select-cadastro-guia-estado">Estado  <span class="text-danger font-weight-bold">*</span></label>
                            <select class="form-control" name="cidade.IdEstado" id="select-cadastro-guia-estado"></select>

                        </div>

                        <div class="form-group col-md-6">

                            <label for="select-cadastro-cidade-guia">Cidade  <span class="text-danger font-weight-bold">*</span></label>
                            <select class="form-control" name="select-cadastro-guia-cidade" id="select-cadastro-cidade-guia"></select>

                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group col-md-6">

                            <label for="cep">CEP  <span class="text-danger font-weight-bold">*</span></label>
                            <input class="form-control" type="text" name="endereco.Cep" id="campo-cep-cadastro-guia" />

                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group col-md-8">

                            <label for="logradouro">Logradouro  <span class="text-danger font-weight-bold">*</span></label>
                            <input name="endereco.Logradouro" type="text" id="campo-logradouro-cadastro-guia" size="150" class="form-control"  readonly="readonly"/>

                        </div>

                        <div class="form-group col-md-4">

                            <label for="campo-numero-cadastro-guia">Número <span class="text-danger font-weight-bold">*</span></label>
                            <input id="campo-numero-cadastro-guia" name="endereco.Numero" type="text" class="form-control">
                        </div>

                    </div>

                    <div class="row">

                        <div class="form-group col-md-8">

                            <label for="bairro">Bairro  <span class="text-danger font-weight-bold">*</span></label>
                            <input id="campo-complemento-guia-cadastro" name="endereco.Bairro" type="text" class="form-control"  readonly="readonly">

                        </div>

                        <div class="form-group col-md-4">

                            <label for="campo-referencia-guia-cadastro">Referência</label>
                            <input id="campo-referencia-guia-cadastro" name="endereco.Referencia" class="form-control">

                        </div>

                    </div>


                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect " data-dismiss="modal" id="botao-fechar-modal-cadastro-guia">Fechar</button>
                <button type="button" class="btn btn-primary waves-effect waves-light " id="botao-salvar-modal-cadastrar-guia">Cadastrar</button>
            </div>
        </div>
    </div>
</div>
