
@{
    ViewBag.Title = "LuvTour - Home";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Dashboard</h2>

<a class="card-home" href="/Cidade">
    <i class="icofont icofont-building-alt"></i>
    <h2>Cidade</h2>
</a>

<a class="card-home" href="/Endereco">
    <i class="icofont icofont-location-pin"></i>
    <h2>Endereços</h2>
</a>

<a class="card-home" href="/Estado">
    <i class="icofont icofont-university"></i>
    <h2>Estados</h2>
</a>

<a class="card-home" href="/Idioma">
    <i class="icofont icofont-book-alt"></i>
    <h2>Idiomas</h2>
</a>

<a class="card-home" href="/Pacote">
    <i class="icofont icofont-social-dropbox"></i>
    <h2>Pacotes</h2>
</a>


<a class="card-home" href="/Viagem">
    <i class="icofont icofont-airplane-alt"></i>
    <h2>Viagens</h2>
</a>

<a class="card-home" href="/Guia">
    <i class="icofont icofont-business-man-alt-3"></i>
    <h2>Guias</h2>
</a>


<a class="card-home" href="/HistoricoViagem">
    <i class="icofont icofont-document-search"></i>
    <h2>Histórico de Viagens</h2>
</a>