@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Cadastrar Pontos Turisticos</h2>

<form action="/PontoTuristico/Store" method="post">
    <div class="form-group">
        <label class="col-md-2">Endereco: </label>
        <div class="col-md-6">
            <select class="form-control form-control-default" name="endereco.IdEndereco" id="select-cadastro-ponto-turistico-endereco" value="@ViewBag.PontoTuristico.IdEndereco"></select>
        </div>
    </div>
    <div class="form-group">
        <label for="cadastro-ponto-turistico-nome">
            Nome
        </label>
        <input type="text" id="cadastro-ponto-turistico-campo-nome" class="form-control" value="@ViewBag.PontoTuristico.Nome" name="pontoturistico.Nome" />
    </div>
    <div>
        <button type="submit" class="btn btn-success float-right">
            <i class="fa fa-save"></i> Cadastrar
        </button>
    </div>
</form>

@section script{
    <script src="~/Scripts/PopularSelects/SelectPontoTuristico/popular-select-pontoturistico.js"></script>
}
