@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>
<form action="/PontoTuristico/Store" method="post">
    <input type="hidden" name="PontoTuristico.Id" id="editar-ponto-turistico-campo-id" />
    <div class="form-group">
        <label class="col-md-2">Ponto Turistico</label>
        <div class="col-md-6">
            <select class="form-control form-control-default" name="PontoTuristico.IdPacote" id="select-editar-ponto-turistico-pacote" value="@ViewBag.PontoTuristico.IdPacote"></select>
        </div>
        </div>
        <div class="form-group">
            <label class="col-md-12" for="campo-cadastro-ponto-turistico-nome">Nome Ponto turistico</label>
            <div class="col-md-6">
                <input type="text" name="pontoTuristico.Nome" value="@ViewBag.PontoTuristico.Nome" id="campo-editar-ponto-turistico-nome" />
            </div>
        </div>

        <div>
            <button type="submit" class="btn btn-success float-right">
                <i class="fa fa-save">Cadastrar</i> 
            </button>
        </div>
</form>
