
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}

<div class="page-header card horizontal-layout-icon">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="icofont icofont-bank-alt"></i>
                <div class="d-inline">
                    <h4>Tabela de Pontos Turisticos</h4>
                    <span>Tela de gerenciamento de Pontos Turisticos</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <button type="button" class="btn btn-grd-primary" id="botao-modal-cadastrar-pontoturistico">
                    <i class="icofont icofont-plus"></i>
                    Cadastrar
                </button>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-block">
        <div class="table-responsive">
            <table class="table table-de" id="table-pontoturistico">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Endereço</th>
                        <th>Ponto Turistico</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th>Código</th>
                        <th>Endereço</th>
                        <th>Ponto Turistico</th>
                        <th>Ação</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

@Html.Partial("~/Views/PontoTuristico/ModalCadastro.cshtml")
@Html.Partial("~/Views/PontoTuristico/ModalEditar.cshtml")


@section script{
    <script src="~/Scripts/PopularSelects/SelectPontoTuristico/popular-select-pontoturistico.js"></script>
    <script src="~/Scripts/PontoTuristico/pontoTuristico-index.js"></script>
}
