
@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Cadastro</h2>
<form action="/Idioma/Store" method="post">
    <div class="form-group">
        <label class="col-md-2">Nome>:</label>
        <div class="col-md-6">
            <select class="form-control form-control-default" name="idioma.IdGuia" id="select-cadastro-idioma-guia" value="@ViewBag.Idioma.IdGuia"></select>

        </div>
    </div>
    <div class="form-group">
        <label for="cadastro-idioma-campo-nome">Nome</label>
        <input type="text" id="cadastro-idioma-campo-nome" class="form-control" value="@ViewBag.Idioma.Nome" name="idioma.Nome" />

    </div>
    <div>
        <button type="submit" class="btn btn-success float-right">
            <i class="fa fa-save"></i>Cadastrar
        </button>
    </div>
</form>












