
@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/Master.cshtml";
}

<div>
    <div class="col-md-12">
        <h1 class="text-priamry text-center">Cadastro Idioma</h1>
        <br />
    </div>
</div>
<form action="/Idioma/Store" method="post">
    <div class="form-row">
        <div class="form-group col-md-6">
            <labe for="campo-idioma"> Idioma</labe>
        <label for="cadastro-idioma-campo-nome">Nome</label>
        <input type="text" id="cadastro-idioma-campo-nome" class="form-control" value="@ViewBag.Idioma.Nome" name="idioma.Nome" />
        </div>
    </div>
    <div class="col-md-12">
        <button type="submit" class="brighttheme-icon-notice brn-outline-success float-right">
            <i class="fa fa-save"></i> Cadastrar
        </button>

    </div>
</form>












