
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}



<div class="page-header card horizontal-layout-icon">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="icofont icofont-book-alt"></i>
                <div class="d-inline">
                    <h4>Tabela de Idiomas</h4>
                    <span>Tela de gerenciamento de Idiomas</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <button type="button" class="btn btn-grd-primary" id="botao-modal-cadastrar-idioma">
                    <i class="icofont icofont-plus"></i>
                    Cadastrar
                </button>
            </div>
        </div>
    </div>
</div>
<div class="card">
    <div class="card-block">
        <div class="table-responsive">
            <table class="table table-striped table-bordered nowrap dataTable" style="width:100%" id="table-idiomas">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Idioma</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th>Código</th>
                        <th>Idioma</th>
                        <th>Ação</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Idioma/ModalCadastro.cshtml")
@Html.Partial("~/Views/Idioma/ModalEditar.cshtml")

@section script{
    <script src="~/Scripts/Idioma/idioma-tabela.js"></script>
}