
@{
    Layout = null;
}

<div class="modal fade" id="idioma-modal-cadastro" tabindex="-1" role="dialog" style="z-index: 1050; display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="-modal-header">
                <h4 class="=modal-title">IDIOMA</h4>
                <button type="button" class="close" data-dissmiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
                <div class="modal-body">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="campo-idioma">Idioma</label>
                            <select name="idimao.Nome" type="text" id="select-cadastro-idioma" required="required">
                            <option disabled="disabled" selected="selected">- Selecione o Idioma</option>
                                <option value="Alemão">Alemão</option>
                                <option value="Árabe">Árabe</option>
                                <option value="Bengali">Bengali</option>
                                <option value="Chinês">Chinês</option>
                                <option value="Espanhol">Espanhol</option>
                                <option value="Francês">Francês</option>
                                <option value="Hindi">Hindi</option>
                                <option value="Inglês">Inglês</option>
                                <option value="Italiano">Italiano</option>
                                <option value="Japonês">Japonês</option>
                                <option value="Português">Português</option>
                                <option value="Punjabi">Punjabi</option>
                                <option value="Russo">Russo</option>
                            </select>
                        </div>

                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dissmiss="modal" id="botao-fechar-modal-cadastro-idioma">Fechar</button>
                    <button type="button" class="btn btn-primary waves-effect waves-light" id="botao-salvar-modal-cadastro-idioma">Cadastrar</button>
                </div>
            </div>
        </div>
    </div>
</div>
