@{
    ViewBag.Title = "CadastroDeEndereco";
    Layout = "~/Views/Shared/Master.cshtml";

}

<div class="row">

    <div class="col-md-10 offset-md-1">
        <form action="/Principal/StoreEndereco" method="post">

            <div class="form-horizontal">
                <div class="card">

                    <div class="card-header">

                        <h4>Endereco</h4>

                    </div>

                    <div class="card-block">

                        <div class="row">

                            <div class="col-md-12">

                                <div class="form-group">

                                    <div class="col-md-2">

                                        <label>Cep</label>
                                        <input name="Endereco.Cep" type="text" id="campo-cep" value="" size="10" maxlength="8" class="form-control form-control-default" />


                                    </div>

                                </div>

                                <div class="form-group">

                                    <div class="col-md-12">

                                        <label>Logradouro</label>
                                        <input name="Endereco.Logradouro" type="text" id="campo-logradouro" size="150" class="form-control form-control-default" />

                                    </div>

                                </div>

                                <div class="form-group">

                                    <div class="col-md-12">

                                        <label>Cidade</label>
                                        <input name="Endereco.Cidade" type="text" id="campo-cidade" size="100" class="form-control form-control-default" />

                                    </div>

                                </div>

                                <div class="form-group">

                                    <div class="col-md-6">
                                        <label>UF</label>
                                        <select name="Endereco.Estado" id="campo-uf" class="form-control form-control-default">
                                            <option value="AC">Acre</option>
                                            <option value="AL">Alagoas</option>
                                            <option value="AP">Amapá</option>
                                            <option value="AM">Amazonas</option>
                                            <option value="BA">Bahia</option>
                                            <option value="CE">Ceará</option>
                                            <option value="DF">Distrito Federal</option>
                                            <option value="ES">Espírito Santo</option>
                                            <option value="GO">Goiás</option>
                                            <option value="MA">Maranhão</option>
                                            <option value="MT">Mato Grosso</option>
                                            <option value="MS">Mato Grosso do Sul</option>
                                            <option value="MG">Minas Gerais</option>
                                            <option value="PA">Pará</option>
                                            <option value="PB">Paraíba</option>
                                            <option value="PR">Paraná</option>
                                            <option value="PE">Pernambuco</option>
                                            <option value="PI">Piauí</option>
                                            <option value="RJ">Rio de Janeiro</option>
                                            <option value="RN">Rio Grande do Norte</option>
                                            <option value="RS">Rio Grande do Sul</option>
                                            <option value="RO">Rondônia</option>
                                            <option value="RR">Roraima</option>
                                            <option value="SC">Santa Catarina</option>
                                            <option value="SP">São Paulo</option>
                                            <option value="SE">Sergipe</option>
                                            <option value="TO">Tocantins</option>
                                        </select>
                                    </div>

                                </div>

                                <div class="form-group">

                                    <div class="col-md-3">
                                        <label>Número</label>
                                        <input name="Endereco.Numero" type="text" class="form-control autonumber" data-a-sep="." data-a-dec=",">

                                    </div>

                                </div>

                                <div class="form-group">

                                    <div class="col-md-12">
                                        <label>Complemento</label>
                                        <input name="Endereco.Complemento" type="text" class="form-control">

                                    </div>

                                </div>

                                <div class="form-group">

                                    <div class="col-md-12">
                                        <label>Referência</label>
                                        <textarea name="Endereco.Referencia" class="form-control"></textarea>

                                    </div>

                                </div>

                                <div class="form-group">

                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Salvar" class="btn btn-outline-success" />
                                    </div>

                                </div>

                            </div>

                        </div>

                    </div>

                </div>
            </div>
        </form>


        <div>
            @Html.ActionLink("Back to List", "Index")
        </div>

    </div>
</div>