
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}


<div class="page-header card horizontal-layout-icon">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="icofont icofont-social-dropbox"></i>
                <div class="d-inline">
                    <h4>Tabela de Pacote Ponto Turistico</h4>
                    <span>Tela de gerenciamento de Pacote Pontos Turisticos</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <button type="button" class="btn btn-grd-primary" id="botao-modal-cadastrar-pacote-ponto-turistico">
                    <i class="icofont icofont-plus"></i>
                    Cadastrar
                </button>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-block">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered nowrap" id="table-pacote-ponto-turistico">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Pacote</th>
                        <th>Ponto Turistico</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th>Código</th>
                        <th>Pacote</th>
                        <th>Ponto Turistico</th>
                        <th>Ação</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

@Html.Partial("~/Views/PacotePontoTuristico/ModalCadastro.cshtml")
@Html.Partial("~/Views/PacotePontoTuristico/ModalEditar.cshtml")

@section script{
<script src="~/Scripts/MultiIdioma/multi-idioma.js"></script>
<script type="text/javascript">
    loadStrings('PacotePontoTuristico');
</script>

    <script src="~/Scripts/PacotePontoTuristico/index-pacote-ponto-turistico.js"></script>
    <script src="~/Scripts/PopularSelects/SelectPacotePontoTuristico/popular-select-pacote-ponto-turistico.js"></script>
}


