
@{
    Layout = null;
}

<div class="modal fade" id="pacote-ponto-turistico-modal-cadastro" tabindex="-1" role="dialog" style="z-index: 1050; display: none"; aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Cadastro Pacote Ponto Turistico</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row mb-md-3">
                    <div class="col-md-12">
                        <label for="select-cadastro-pacote-ponto-turistico-pacote">Pacote</label>
                        <select id="select-cadastro-pacote-ponto-turistico-pacote" name="pacotePontoTuristo.IdPacote" class="form-control"></select>
                    </div>
                    <div class="col-md-12">
                        <label for="select-cadastro-pacote-ponto-turistico-ponto-turistico">Ponto Turistico</label>
                        <select id="select-cadastro-pacote-ponto-turistico-ponto-turistico" name="pacotePontoTuristico.IdPontoTuristico"></select>
                    </div>
                </div>                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal" id="botao-fechar-modal-cadastro-pacote-ponto-turistico">Fechar</button>
                <button type="button" class="btn btn-primary waves-effect waves-light " id="botao-salvar-modal-cadastrar-pacote-ponto-turistico">Cadastrar</button>
            </div>
        </div>
    </div>
</div>

