
@{
    Layout = null;
}

<div class="modal fade" id="pacote-ponto-turistico-modal-editar" tabindex="-1" role="dialog" style="z-index: 1050; display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div ckass="modal-header">
                <h4 class="modal-title">Editar Pacote Ponto Turistico</h4>
                <button class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row mb-md-3">
                    <input type="hidden" name="pacotePontoTuristico.Id" id="campo-editar-pacote-ponto-turistico-id" />
                    <input type="hidden" name="pacotePontoTuristico.IdPacote" id="select-editar-pacote-ponto-turistico-pacote" />
                    <input type="hidden" name="pacotePontoTuristico.IdPontoTuristico" id="select-editar-pacote-ponto-turistco-ponto-turistico" />

                    <div class="col-md-12">
                        <label id="select-editar-pacote-ponto-turistico-pacote">Pacote</label>
                        <select id="select-editar-pacote-ponto-turistico-pacote" name="pacotePontoTuristico.IdPacote" class="form-control"></select>
                    </div>
                    <div class="col-md-12">
                        <label id="select-editar-pacote-ponto-turistco-ponto-turistico">Ponto Turistico</label>
                        <select id="select-editar-pacote-ponto-turisto-ponto-turistico" name="pacotePontoTuristico.IdPontoTuristico" class="form-control"></select>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default waves-effect" data-dismiss="modal" id="botao-fechar-modal-cadastro-pacote-ponto-turistico">Fechar</button>
                <button type="button" class="btn btn-primary waves-effect waves-light " id="botao-salvar-modal-editar-pacote-ponto-turistico">Cadastrar</button>
            </div>
        </div>
    </div>
</div>
