
@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Cadastro</h2>
<div>
    <div class="col-md-12">
        <h5 class="text-primary text-center">Cadastro viagens</h5>
    </div>
</div>

<form>
    <div class="form-group">
        <label for="">Viagem</label>
        <input name="" type="text" id="campo-cadastro-viagens" class="form-control" />
    </div>

    <div class="form-group">
        <label for=""></label>
        <input name="" type="text" id="campo-cadastro-viagens" class="form-control" />
    </div>
</form>
