
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}



<button type="button" class="btn btn-primary waves-effect" id="botao-modal-cadastrar-viagemTurista">Cadastrar</button>

<div class="card">
    <div class="card-header">
        <h3>Tabela Viagem Turista</h3>
        <div class="card-header-right">
            <ul class="list-unstyled card-option"> <li><i class="icofont icofont-simple-left"></i> </li>   <li><i class="icofont icofont-maximize full-card"></i></li>      <li><i class="icofont icofont-minus minimize-card"></i></li> <li><i class="icofont icofont-refresh reload-card"></i></li></ul>
        </div>
    </div>
    <div class="card-block">
        <div class="table-responsive">
            <table class="table table-de" id="table-viagemTurista">
                <thead>
                    <tr>
                        <th>Turista</th>
                        <th>Viagem</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th>Turista</th>
                        <th>Viagem</th>
                        <th>Valor</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

@Html.Partial("~/Views/ViagemTurista/ModalCadastro.cshtml")
@Html.Partial("~/views/ViagemTurista/ModalEditar.cshtml")

@section script{
    <script src="~/Scripts/ViagemTurista/index.viagemTurista.js"></script>
    <script src="~/Scripts/PopularSelects/SelectViagemTurista/popular-select-viagemTurista.js"></script>
}