
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}



<div class="page-header card horizontal-layout-icon">
    <div class="row align-items-end">
        <div class="col-lg-8">
            <div class="page-header-title">
                <i class="icofont icofont-airplane-alt"></i>
                <div class="d-inline">
                    <h4>Tabela de Viagens</h4>
                    <span>Tela de gerenciamento de Viagens</span>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="page-header-breadcrumb">
                <button type="button" class="btn btn-grd-primary" id="botao-modal-cadastrar-viagem">
                    <i class="icofont icofont-plus"></i>
                    Cadastrar
                </button>
            </div>
        </div>
    </div>
    <div class="card-block">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-bordered nowrap" id="table-viagens">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Pacote</th>
                        <th>Guia</th>
                        <th>Data e Hora Saida</th>
                        <th>Data e Hora Volta</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th>Código</th>
                        <th>Pacote</th>
                        <th>Guia</th>
                        <th>Data e Hora Saida</th>
                        <th>Data e Hora Volta</th>
                        <th>Ação</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

@Html.Partial("~/Views/Viagem/ModalCadastro.cshtml")
@Html.Partial("~/Views/Viagem/ModalEditar.cshtml")

@section script{
    <script src="~/Scripts/Viagem/index-viagem.js"></script>
    <script src="~/Scripts/PopularSelects/SelectViagem/popular-select-viagem.js"></script>
}