@{
    Layout = null;
}
<div class="modal fade" id="viagem-modal-editar" tabindex="-1" role="dialog" style="z-index: 1050; display: none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Editar Viagem</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">x</span>
                </button>
            </div>
        
            <div class="modal-body">

                <div class="row mb-md-3">

                    <input type="hidden" name="viagem.Id" id="campo-editar-viagem-id" />
                    <input type="hidden" name="viagem.IdPacote" id="select-modal-editar-pacote" />
                    <input type="hidden" name="viagem.IdGuia" id="select-modal-editar-guia" />

                    <div class="col-md-6">
                        <label id="select-modal-editar-viagem-pacote">Pacote</label>
                        <select id="select-modal-editar-viagem-pacote" name="viagem.IdPacote" class="form-control"></select>
                    </div>
                    <div class="col-md-6">
                        <label for="select-editar-viagem-guia">Guia</label>
                        <select id="select-modal-editar-viagem-guia" name="viagem.IdGuia" class="form-control"></select>
                    </div>
                </div>
                    <div class="row">
                        <div class="col-md-6">
                            <label for="campo-editar-data-saida-viagem">Data e Horario Saida</label>
                            <input type="datetime-local" class="form-control" name="viagem.DataHorarioSaida" id="campo-editar-data-saida-viagem">
                        </div>
                        <div class="col-md-6">
                            <label for="campo-editar-data-volta-viagem">Data e Horario Volta</label>
                            <input type="datetime-local" class="form-control" name="viagem.DataHorarioVolta" id="campo-editar-data-volta-viagem">
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default waves-effect" data-dismiss="modal" id="botao-fechar-modal-cadastro-viagem">Fechar</button>
                    <button type="button" class="btn btn-primary waves-effect waves-light " id="botao-salvar-modal-editar-viagem">Cadastrar</button>
                </div>
            </div>
    </div>
</div>

