
@{
    Layout = null;
}

<div class="modal fade" id="viagem-modal-editar" tabindex="-1" role="dialog" style="z-index: 1050; display:none;" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-header">
            <h4 class="modal-title">Modal Title</h4>
        </div>
    </div>
</div>

