
@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Cadastro</h2>

<form action="/Pais/Store" method="post">

    <div class="form-group">
        <label class="col-md-2">Continente: </label>
        <div class="col-md-6">
            <select class="form-control form-control-default" name="pais.IdContinente" id="select-cadastro-pais-continente" value="@ViewBag.Pais.IdContinente"></select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-md-12" for="campo-cadastro-pais-nome">Nome pais:</label>
        <div class="col-md-6">
            <input type="text" name="pais.Nome" value="@ViewBag.Pais.Nome" id="campo-cadastro-pais-nome" />
        </div>
    </div>

    <div>
        <button type="submit" class="btn btn-success float-right">
            <i class="fa fa-save"></i> Cadastrar
        </button>
    </div>

</form>

@section css{
    <link href="~/Content/lib/select2/css/select2.min.css" rel="stylesheet" />
}

@section script{

    <script src="~/Content/lib/select2/js/select2.full.min.js"></script>
    <script src="~/Scripts/Pais/Cadastro/select2-cadastro-pais.js"></script>

}