@{
    ViewBag.Title = "Cadastrar";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Cadastrar</h2>
<form action="/Pacote/Store" method="post">
    <div class="form-group">
        <label for="cadastro-pacote-campo-nome">
            Nome
        </label>
        <input type="text" id="cadastro-pacote-campo-nome" class="form-control" value="@ViewBag.Pacote.Nome" name="pacote.Nome" />
    </div>
    <div>
        <label for="cadastro-pacote-campo-valor">
            Valor
        </label>
        <input type="text" id="cadastro-pacote-campo-valor" class="form-control" value="@ViewBag.Pacote.Nome" name="pacote.Valor" />
    </div>
    <div>
        <label for="cadastro-pacote-campo-percentual-desconto">
            Percentual De Desconto
        </label>
        <input type="text" id="cadastro-pacote-campo-percentual-desconto" class="form-control" value="@ViewBag.Pacote.PercentualMaximoDesconto" name="pacote.PercentualMaximoDesconto">
    </div>
    <div>
        <button type="submit" class="btn btn-success float-right">
            <i class="fa fa-save"></i> Cadastrar
        </button>
    </div>
</form>