
@{
    ViewBag.Title = "Editar";
    Layout = "~/Views/Shared/Master.cshtml";
}

<h2>Editar</h2>
<form action="" method="post">
    <input type="hidden" name="pacote.Id" id="edit-pacote-campo-id" />
    <div class="form-group">
        <label for="cadastro-pacote-campo-nome">
            Nome
        </label>
        <input type="text" id="editar-campo-pacote-nome" class="form-control" name="Pacote.Nome" />

    </div>
    <div>
        <button type="submit" class="btn btn-sucess float-left right ">
            <i class="fa fa-save">Cadastro</i>
        </button>
    </div>
</form>
