
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Master.cshtml";
}

<button type="button" class="btn btn-primary waves-effect" id="botao-modal-cadastrar-historico-viagem">Cadastrar</button>

<div class="card">
    <div class="card-header">
        <h5>Tabela historico de Viagens</h5>
        <div class="card-header-right">    <ul class="list-unstyled card-option">        <li><i class="icofont icofont-simple-left "></i></li>        <li><i class="icofont icofont-maximize full-card"></i></li>        <li><i class="icofont icofont-minus minimize-card"></i></li>        <li><i class="icofont icofont-refresh reload-card"></i></li></ul></div>
    </div>
    <div class="card-block">
        <div class="table-responsive">
            <table class="table table-de" id="historico-viagem-tabela">
                <thead>
                    <tr>
                        <th>Código</th>
                        <th>Pacote</th>
                        <th>Data</th>
                        <th>Ação</th>
                    </tr>
                </thead>
                <tbody></tbody>
                <tfoot>
                    <tr>
                        <th>Código</th>
                        <th>Pacote</th>
                        <th>Data</th>
                        <th>Ação</th>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>

@Html.Partial("~/Views/HistoricoViagem/ModalCadastro.cshtml")
@Html.Partial("~/Views/HistoricoViagem/ModalEditar.cshtml")


@section script{
    <script src="~/Scripts/HistoricoViagens/historicoViagem-tabela.js"></script>
    <script src="~/Scripts/PopularSelects/SelectHistoricoViagem/popular-select-historicoViagem.js"></script>
}


